# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go workspace
go.work
go.work.sum

# Compiled binary
main

# Go SDK installation
go-web-app/go/
go-web-app/go1.22.3.linux-amd64.tar.gz
go-web-app/main
